@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
@model IEnumerable<Biblioteca.Models.Domain.Usuario>
<h1>
    Dashoard
</h1>


<div class="row">

    <div class="offset-10 col-3 mb-3">
        <a asp-action="Crear" asp-controller="Usuario" class="btn-success mx-auto btn-lg"> <i class="fa-solid fa-user"></i>Nuevo</a>
    </div>
</div>

<div class="container-fluid">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h1 class="text-white"><strong>Lista de usuarios</strong></h1>

            </div>

            <div class="card-body">
                <div class="table-responsive">

                    @if (Model.Count() > 0)
                    {



                        <table class="table table-bordered" id="tblUsuarios" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(x => x.Nombre) </th>
                                    <th>@Html.DisplayNameFor(x => x.UserName) </th>
                                    <th>@Html.DisplayNameFor(x => x.Password) </th>
                                    <th>@Html.DisplayNameFor(x => x.Roles.Nombre) </th>
                                  
                                </tr>


                            </thead>
                            <tbody>

                                @{
                                    int i = 1;
                                }
                                @foreach (var Item in Model)
                                {


                                    <tr>


                                        <td>@Html.DisplayFor(x => Item.Nombre) </td>
                                        <td>@Html.DisplayFor(x => Item.UserName) </td>
                                        <td>@Html.DisplayFor(x => Item.Password) </td>
                                        <td>@Html.DisplayFor(x => Item.Roles.Nombre) </td>
                                       
                                        <td>
                                            <a class=" btn btn-warning" asp-action="Editar" asp-route-id="@Item.PkUsuario"><i class="fa-solid fa-pen-to-square"></i> Editar</a>
                                            <form asp-action="Eliminar" asp-route-id="@Item.PkUsuario" method="post" class="delete-form">
                                                <button type="button" class="btn btn-danger" onclick="confirmDelete(this)">
                                                    <i class="fa-solid fa-trash"></i> Eliminar
                                                </button>
                                            </form>
                                        </td>

                                    </tr>


                                }

                            </tbody>

                        </table>

                    }
                    else
                    {
                        <p>No hay registros</p>
                    }
                </div>

            </div>


        </div>


    </div>




</div>


@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        // Función para confirmar la eliminación con SweetAlert2
        function confirmDelete(button) {
            Swal.fire({
                title: "¿Estás seguro?",
                text: "Esta acción no se puede deshacer",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#d33",
                cancelButtonColor: "#3085d6",
                confirmButtonText: "Sí, eliminar",
                cancelButtonText: "Cancelar"
            }).then((result) => {
                if (result.isConfirmed) {
                    // Buscar el formulario más cercano y enviarlo
                    $(button).closest('form').submit();
                }
            });
        }
    </script>
}