@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
@model  IEnumerable<Biblioteca.Models.Domain.Rol>
<h1>
    Dashoard Roles
</h1>


<div class="row">

    <div class="offset-10 col-3 mb-3">
        <a asp-action="Crear" asp-controller="Roles" class="btn-success mx-auto btn-lg"> <i class="fa-solid fa-user"></i>Nuevo</a>
    </div>
</div>

<div class="container-fluid">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h1 class="text-white"><strong>Lista de Roles</strong></h1>

            </div>

            <div class="card-body">
                <div class="table-responsive">

                    @if (Model.Count() > 0)
                    {



                        <table class="table table-bordered" id="tblUsuarios" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(x => x.PkRol) </th>
                                    <th>@Html.DisplayNameFor(x => x.Nombre) </th>

                                </tr>


                            </thead>
                            <tbody>

                                @{
                                    int i = 1;
                                }
                                @foreach (var Item in Model)
                                {


                                    <tr>


                                            <td>@Html.DisplayFor(x => Item.PkRol) </td>
                                            <td>@Html.DisplayFor(x => Item.Nombre) </td>

                                        <td>
                                            <a class=" btn btn-warning" asp-action="Editar" asp-route-id="@Item.PkRol"><i class="fa-solid fa-pen-to-square"></i> Editar</a>
                                            <form asp-action="Eliminar" asp-route-id="@Item.PkRol" method="post" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este usuario?');">
                                                <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Eliminar</button>
                                                </form>
                                        </td>

                                    </tr>


                                }

                            </tbody>

                        </table>

                    }
                    else
                    {
                        <p>No hay registros</p>
                    }
                </div>

            </div>


        </div>


    </div>




</div>


@* @section scripts{
    <script>
        $(document).ready(function () {
            //llamar a datatable
            $('#tblusuarios').datatable({
                language: {
                    "decimal": "",
                    "emptytable": "no hay información",
                    "info": "mostrando start a end de total entradas",
                    "infoempty": "mostrando 0 to 0 of 0 entradas",
                    "infofiltered": "(filtrado de max total entradas)",
                    "infopostfix": "",
                    "thousands": ",",
                    "lengthmenu": "mostrar menu entradas",
                    "loadingrecords": "cargando...",
                    "processing": "procesando...",
                    "search": "buscar:",
                    "zerorecords": "sin resultados encontrados",
                    "paginate": {
                        "first": "primero",
                        "last": "ultimo",
                        "next": "siguiente",
                        "previous": "anterior"
                    }
                }
            });

    </script> *@
